
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ////////////////My style///////////////////// */
.navebar{
  background-color:rgb(233, 190, 190);
  width:100% ;
  display: flex;
  position: fixed;
  z-index: 999 ;
  /* justify-content: space-between; */
  align-items: center;
  padding: 12px;
}
.logo{
  text-decoration:underline;
  color:black;
  text-transform: uppercase;
  font-weight:800;
  font-size:30px;
  
}

.navebar a{
  padding: 0 25px;
}

.logo:hover{
  color:orangered;
  transition:.5s ease ;
  background-color:black;
  border-radius: 25px;
}



.navebar a{
  text-decoration:none;
  font-size:24px;
  font-weight:100px;
  padding-left:10px;
  color: black;
}
.navebar a:hover{
  color:red;
  transition: 1s ease;
}

.navebar a:hover{
  background-color:black;
  transform: Poppins(1.1);
  border-radius:20px;
  /* margin:5px; */
}

/* ////////seaction //////////// */
/* section{
  padding: 100px 150px;
} */
.main{
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-color:rgb(18, 18, 50);
  /* background: url('./images/web3.jpg') no-repeat; */
  background-size:cover ;
  background-position:center;
  background-attachment:fixed ;
  position: relative;
  
}


.main img{
  display:flex;
  height: 65%;
  overflow:hidden;
  border-radius:280px;
  margin-left:850px;
  position: absolute;
  top:35%;
  
}


.main h2{
  color:wheat;
  font-size:50px;
  font-weight:750px;
/* margin-left: -100px; */


}

.main h2 span {
  display: inline-block;
  padding-left:50px;
  margin-top:20px;
  color:orangered;
  font-size:40px ;   
}
.main h3{
  color:white;
  font-size:30px ;
  font-weight:800px;
  letter-spacing:1px ;
  margin-left:100px ;
  padding-right:650px ;
  margin-top:20px ;
  margin-bottom:30px;
  
}
.main-btn{
  color:whitesmoke;
  background-color: blue;
  text-decoration: none;
  font-size:18px;
  font-weight:900 ;
  display:inline-block;
  padding:15px 35px;
  border-radius: 40px;
  letter-spacing:2px;
  margin-bottom: 30px;
  /* margin-left: 90px ; */
  transition: .6s ease;
}
.main-btn:hover{
  background-color:orangered;
  transform:scale(1.1)
}

.socil-icon a{
  color:white;
  padding-right:20px;
  font-size:40px; 
  margin-right:30px;
  transition: .9s ease;
}

.main .socil-icon :hover{
  transform: scale(1.1);
  color:red;
}


/* ////////////About/////////////// */

.About{
  background-color:#0f1560;  
}

.Abo{
  display: flex;
  justify-content: center;
  color: orangered;
  font-size: 80px;
  font-weight: 20px;
  /* margin-bottom:130px; */
  padding:80px;
}

.Abo1{
  color:whitesmoke;
  /* background-color: rgba(96, 72, 72, 0); */
  font-size:45px;
  font-weight:100px ;
}

/* //////////////////Education///////////////////// */

.Education{
  background-color:#1e2261;
}

.Edu{
  display: flex;
  justify-content: center;
  color: orangered;
  font-size: 75px;
  font-weight: 20px;
  margin-bottom:100px;
}

.content{
  display: flex;
  justify-content:center;
  flex-direction: row;
  flex-wrap:wrap;
}

.box{
  background-color:white;
  width:360px;
  box-shadow: 10px 25px 10px rgb(105, 105, 118);
  border-radius:25px;
  padding:20px ;
  margin: 15px;
  transition: .7s ease ;
}

.box:hover {
  transform: scale(1.1);
}

.icon{
  color:rgb(61, 61, 87);
  font-size: 100px;
  text-align:center;
}

.info{
  text-align: center;
}


.info h3{
  color:orangered;
  font-size:25px ;
  font-weight: 700px;
  margin: 50px;
}

.info p{
  font-size: 30px;
  color: #0f1560;
}
          /* //////////////////Projeact////////////////////// */

          .Projeact{
            background-color:#0f1560;
        }
        
        .Pro{
            display: flex;
            justify-content: center;
            color: orangered;
            font-size: 75px;
            font-weight: 20px;
            margin-bottom:100px;
        }
        .box-Pro{
            background-color:white;
            width:360px;
            box-shadow: 10px 25px 10px rgb(105, 105, 118);
            border-radius:25px;
            padding:20px ;
            margin: 15px;
            transition: .7s ease ;
        }
        
        .box-Pro:hover {
            transform: scale(1.1);
        }
 /* ///////////////////////Skils/////////////////////////*/

 .Skils{
  background-color:#1e2261;
}

.skils{
  display: flex;
  justify-content: center;
  color: orangered;
  font-size: 80px;
  font-weight: 20px;
  margin-bottom:160px;
  /* padding:100px; */
  
}

.Skils1{
  color:white;
  padding-right:20px;
  font-size:80px; 
  margin-right:50px;
  padding:50px;
}

.fa-html5{
  padding:0px 120px;
}


.fa-css3{
  padding: 0px 50px;
}

.fa-java{
  padding: 0px 50px;
}
.fa-bootstrap{
  padding: 0px 50px;
}
.fa-reacteurope{
  padding: 0px 50px; 
}
/* ///////////Countact/////////////// */
.card{
  background-color:#0f1560;
 } 
 
 .card{
     display: flex;
     justify-content: center;
     color: orangered;
     font-size:60px;
     font-weight:40px;
     /* margin-bottom:50px; */
     /* padding:150px; */
 }
 .card1{
     color:white;
     font-size:50px;
     padding:10px;
 }
 .card1 p{
     font-size:30px;
     color:orangered;
     padding: 10px;
 }
 /* //////////////Footer//////////////////// */

 .footer{
  background-color: #1e2261;
  color: white;
  padding: 50px;  
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  
}
.footer-tital span{
  color: wheat;
  font-size:20px;
  text-decoration: underline;
  transition: .2s ease;
}
.footer .socil-icon :hover{
  color:red;
  transform: scale(1.1);
}


